# AWS Configuration
AWS_REGION=us-east-1

# DynamoDB
DYNAMODB_TABLE=appointments-table-dev

# Messaging
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:appointments-topic
EVENT_BUS_NAME=appointments-bus

# Database (RDS MySQL) - Opcional según configuración
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=citamedica_rds
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/citamedica_rds
